__pycache__/
*.py[cod]
*.egg
*.egg-info/
*.pyo
*.pyd
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.log
*.tmp
.ipynb_checkpoints
.env
.venv
env/
venv/
ENV/
*.env
*.venv
.vscode/
.idea/
data/raw/
data/processed/
data/external/
reports/interim/*.pdf
reports/final/*.pdf
reports/figures/
.DS_Store
Thumbs.db
